:root {
    --plans-border: grey;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.upper-header-nav {
    min-height: 10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-header-nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.upper-header-nav ul a {
    text-decoration: none;
    color: inherit
}

.left-upper-header>ul img {
    width: 150px;
}


/* Jumbotron */

.jumbotron {
    min-height: 500px;

    /* debug */
    background-color: cyan;
}

.jumbotron-content {
    display: flex;
}

/* Main Content */

section {
    margin: 100px 0;
}

/* Trova il piano business */

.check {
    display: flex;
    gap: 50px;
}

.billing {
    display: flex;
    align-items: center;
}

.checkbox-circle {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border: 3px solid grey;
    border-radius: 50%;
}

/* Plans */

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 30%;
    min-height: 500px;
    border: 3px solid var(--plans-border);
}

.large-col {
    width: 100%;
    min-height: 150px;
    border: 3px solid var(--plans-border);
}

.plan-name {
    text-align: center;
    padding: 10px 0;
    border-bottom: 3px solid var(--plans-border);
}

.price-info {
    display: block;
}

.fa-ul {
    margin-left: 25px;
}

/* Enterprise Plan */

.enterprise-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Partner Section */

.partner-section {
    display: flex;
    justify-content: space-between;
}

/* Operation Section */

.operation-row.row {
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.col-small {
    width: calc(100% / 3 - 30px);
    min-height: 300px;

    /* debug */
    background-color: blueviolet;
}