/* Header */

.upper-header-nav {
    min-height: 10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-header-nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.upper-header-nav ul a {
    text-decoration: none;
    color: inherit
}

.left-upper-header>ul img {
    width: 150px;
}


/* Jumbotron */

.jumbotron {
    min-height: 500px;

    /* debug */
    background-color: cyan;
}

.jumbotron-content {
    display: flex;
}