:root {
    --plans-border: 2px solid lightgrey;
}

/* Generics */

body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    background-color: lightgray;
    padding: 15px 20px;
    cursor: pointer;
    color: black;
}

.btn.btn-primary {
    color: white;
    background-color: #0061FF;
}

.btn.btn-outline {
    background-color: transparent;
    border: 3px solid grey;
    color: grey;
    font-size: 1.2rem;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 26px;
    font-weight: 600;
}

p {
    font-size: 18px;
    color: #3d4041;
}

span,
li {
    font-weight: 300;
}

hr {
    height: 1px;
    border: none;
    background-color: lightgray;
    margin: 50px 0;
    width: 50px;
}

/* Header */

.upper-header-nav {
    font-size: 18px;
    color: #5E5E5E;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-header-nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.upper-header-nav ul a {
    text-decoration: none;
    color: inherit
}

.left-upper-header>ul img {
    width: 150px;
}

.right-upper-header>ul>li>.btn-primary {
    padding: 10px 20px;
}


/* Jumbotron */

.jumbotron {
    min-height: 500px;
    height: 800px;
    background-color: #B4D0E7;
}

.jumbotron h1 {
    font-size: 84px;
    font-weight: 800;
    padding: 90px 0 50px 0;
}

.jumbotron-content {
    display: flex;
}

.left-jumbotron-content p {
    padding: 30px 0;
}

.left-jumbotron-content>button {
    font-size: 18px;
}

.left-jumbotron-content>a {
    color: black;
    font-size: 60px;
}

/* Main Content */

section:first-of-type {
    margin-top: 200px;
}

section {
    margin: 100px 0;
}

/* Business Plans */

.business-plans .check {
    margin: 70px 0 60px 0;
    display: flex;
    gap: 50px;
}

.billing {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-circle {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border: 3px solid grey;
    border-radius: 50%;
}

.billing:hover .checkbox-circle,
.checkbox-circle.active {
    border: 6px solid #0061FF;
}

/* Plans */

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 30%;
    border: var(--plans-border);
}

.large-col {
    margin: 50px 0;
    width: 100%;
    min-height: 150px;
    border: var(--plans-border);
}

.plan-info {
    padding: 45px;
}

.plans-detail>h3 {
    margin-bottom: 16px;
}

.price {
    font-weight: 600;
    margin-bottom: 8px;
}

.plan-name {
    text-align: center;
    padding: 10px 0;
    border-bottom: var(--plans-border);
}

.plans-more {
    margin: 50px 0;
}

.plans-more-details>ul>li {
    margin-bottom: 20px;
}

.price-info {
    display: block;
}

.fa-ul {
    margin-left: 25px;
}

.plan-button>button {
    width: 100%;
    margin-bottom: 25px;
}

.text-plan-highlights {
    font-weight: 600;
    margin-bottom: 30px;
}

.plan-highlights li {
    margin-bottom: 20px;
}

/* Enterprise Plan */

.enterprise-plan-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enterprise-plan-description {
    margin-top: 60px;
}

.enterprise-plan-details>h3 {
    margin-bottom: 15px;
}

.enterprise-plan-button>button {
    padding: 15px 50px;
}

/* Partner Section */

.partner-section {
    display: flex;
    justify-content: space-between;
}

.partner-description {
    padding: 60px;
}

.partner-description p {
    margin: 40px 0;
}

.partner-description>.btn.btn-outline {
    padding: 10px 15px;
}

/* Operation Section */

.operation-row.row {
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.col-small {
    width: calc(100% / 3 - 35px);
    min-height: 300px;
}

.col-small>p {
    padding: 30px 0;
}

/* Team Count */

.team-count-content span {
    font-size: 1.1rem;
    margin-top: 50px;
}

/* Brands */

.brands {
    display: flex;
}

.central-brand,
.side-brand {
    aspect-ratio: 1 / 1;
    width: calc(100% / 3);
    min-height: 200px;
}

.central-brand {
    overflow: auto;
    background-color: #F5F5F5;
    padding: 60px;
}

.central-brand hr {
    width: 130px;
}

.central-brand img {
    width: 300px;
}

.side-brand {
    display: flex;
    flex-wrap: wrap;
}

.side-brand-col {
    aspect-ratio: 1 / 1;
    width: 50%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.side-brand-col img {
    filter: invert();
    width: 50%;
}

/* Brands Backgroud Colors */

.designit-col {
    background-color: #A2D39B;
}

.asu-col {
    background-color: #61082B;
}

.uniflorida-col {
    background-color: #0093CE;
}

.topps-col {
    background-color: #FF1C1C;
}

.wbr-col {
    background-color: #D50020;
}

.hearst-col {
    background-color: #B4D0E7;
}

.lonelyplanet-col {
    background-color: #0D2581;
}

.clearchannel-col {
    background-color: #FFD830;
}

/* Brands Bottom */

.brands-bottom {
    background-color: lightblue;
    width: 100%;
    min-height: 100px;
}

.brands-elements {
    display: flex;
    justify-content: space-between;
}

/* FAQ Section */

.faq-question {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.faq .faq-question:first-of-type {
    border-bottom: 0;
}

.faq .faq-question:last-of-type {
    border-top: 0;
}

.faq-question>.details-icon {
    margin-right: 40px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    min-height: 100px;
}

/* Upper Footer */

.upper-footer {
    padding: 80px 0;
}

.footer-part {
    display: flex;
    justify-content: space-between;
}

.footer-list-part {
    width: calc(100% / 5 - 30px);
    min-height: 100px;
}

/* Bottom Footer */

.bottom-footer-content {
    padding: 50px 0;
    border-top: 2px solid white;
    width: 150px;
    display: inline-block;
}